<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Login</title>
  </head>

  <body>
    Log in to facebook -
    <button type="button" name="login_button" onclick="login_func">Login</button>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '316505899897709',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v10.0'
        });

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      window.json_status = function login_func() {
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('Logged in ' + response.name + '.');
          }
        });
      }
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  </body>
</html>
